@model IEnumerable<Ql_KhoHang.Dtos.SanPhamDto>

@{
    ViewData["Title"] = "Sản Phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <h2>Danh Sách Sản Phẩm</h2>

    <div class="form-inline d-flex">
        <!-- Nút thêm mới sản phẩm -->
        <a asp-action="Create" class="btn btn-primary ml-2">
            <i class="fas fa-plus"></i> <!-- Biểu tượng thêm mới -->
        </a>

        <!-- Form tìm kiếm sản phẩm -->
        <form asp-action="Index" method="get" class="form-inline d-flex">
            <input type="text" name="keyword" class="form-control" placeholder="Tìm kiếm sản phẩm..." value="@ViewBag.Keyword" />
            <button type="submit" class="btn btn-secondary ml-2">
                <i class="fas fa-search"></i> <!-- Biểu tượng tìm kiếm -->
            </button>
        </form>
        
        <form method="get" action="@Url.Action("Index", "SanPham")" class="form-inline d-flex" >
    <div class="form-group" style="padding:20px">
                <label for="loaiSanpham" class="mr-2"><h5>Lọc theo loại</h5></label>
        <select id="loaiSanpham" name="loaiSanpham" class="form-control" onchange="this.form.submit()">
                    @{ int kt = 0;
                        @if (ViewBag.CurrentLoaiSanPham == "tatca")
                        {
                            <option value="tatca" selected>Tất cả</option>
                            kt = 0;
                            @foreach (var loaiSanPham in ViewBag.LoaiSanPhams)
                            {
                                <option value="@loaiSanPham.TenLoaiSanPham">
                                    @loaiSanPham.TenLoaiSanPham
                                </option>
                            }
                        }
                        else
                        {   

                            foreach (var loaiSanPham in ViewBag.LoaiSanPhams)
                            {
                                if (loaiSanPham.TenLoaiSanPham == ViewBag.CurrentLoaiSanPham)
                                {
                                    <option value="@loaiSanPham.TenLoaiSanPham" selected>
                                        @loaiSanPham.TenLoaiSanPham
                                    </option>
                                    kt = 1;
                                }

                            }
                        }
                        if(kt!=0)
                        {
                            <option value="tatca">Tất cả</option>
                            
                        }
                        @foreach (var loaiSanPham in ViewBag.LoaiSanPhams)
                        {
                            if(kt==1)
                            {
                                if (loaiSanPham.TenLoaiSanPham != ViewBag.CurrentLoaiSanPham)
                                {
                                    <option value="@loaiSanPham.TenLoaiSanPham">
                                        @loaiSanPham.TenLoaiSanPham
                                    </option>
                                }
                            }
                        }
                    }
        </select>
    </div>
</form>



    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:5%;">Id</th>
                <th style="width:15%;">Tên</th>
                <th style="width:15%;">Hình Ảnh</th>
                <th style="width:15%;">Mã vạch</th>
                <th style="width:10%;">Số Lượng</th>
                <th style="width:10%;">Khối Lượng</th>
                <th style="width:10%;">Kích Thước</th>
                <th style="width:10%;">Xuất Xứ</th>
                <th style="width:10%;">Loại</th>
                <th style="width:15%;">Hãng SX</th>
                <th style="width:20%;">Thao Tác</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var sanpham in Model)
                {
                    <tr>
                        <td>@sanpham.MaSanPham</td>
                        <td>@sanpham.TenSanPham (@sanpham.TenNhaCungCap)</td>
                        <td>
                            @if (!string.IsNullOrEmpty(sanpham.Image))
                            {
                                <img src="@sanpham.Image" alt="@sanpham.TenSanPham" width="50" height="50" />
                            }
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(sanpham.MaVach))
                            {
                                <img src="@sanpham.MaVach" alt="@sanpham.TenSanPham" width="50" height="50" />
                            }
                        </td>
                        <td>@sanpham.SoLuong</td>
                        <td>@sanpham.KhoiLuong</td>
                        <td>@sanpham.KichThuoc</td>
                        <td>@sanpham.XuatXu</td>
                        <td>@sanpham.TenLoaiSanPham</td>
                        <td>@sanpham.TenHangSanXuat</td>
                        <td>
                            <div class="btn-group">
                                <a href="javascript:void(0);" onclick="loadImportBatches(@sanpham.MaSanPham)" class="btn btn-danger btn-sm me-2" title="Lô Nhập">
                                    <i class="fas fa-box"></i>
                                </a>
                                <a asp-action="Details" asp-route-id="@sanpham.MaSanPham" class="btn btn-info btn-sm me-2" title="Chi tiết">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a asp-action="Edit" asp-route-id="@sanpham.MaSanPham" class="btn btn-warning btn-sm me-2" title="Sửa">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <form asp-action="Delete" asp-route-id="@sanpham.MaSanPham" method="post" style="display:inline;">
                                    <button type="submit" class="btn btn-danger btn-sm" title="Xóa" onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này?');">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="13" class="text-center">Không có sản phẩm nào.</td>
                </tr>
            }
        </tbody>
    </table>


    <!-- Phân trang -->
    <nav>
        <ul class="pagination justify-content-center">
            <!-- Nút quay lại -->
            @if (ViewBag.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="?pageNumber=@(ViewBag.CurrentPage - 1)&pageSize=@ViewBag.PageSize&keyword=@ViewBag.Keyword">
                        <i class="fas fa-angle-left"></i> <!-- Biểu tượng quay lại -->
                    </a>
                </li>
            }

            <!-- Danh sách các trang -->
            @for (var i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" href="?pageNumber=@i&pageSize=@ViewBag.PageSize&keyword=@ViewBag.Keyword">@i</a>
                </li>
            }

            <!-- Nút tiến -->
            @if (ViewBag.CurrentPage < ViewBag.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="?pageNumber=@(ViewBag.CurrentPage + 1)&pageSize=@ViewBag.PageSize&keyword=@ViewBag.Keyword">
                        <i class="fas fa-angle-right"></i> <!-- Biểu tượng tiến -->
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>
<!-- Modal -->
<div class="modal fade" id="importBatchesModal" tabindex="-1" aria-labelledby="importBatchesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importBatchesModalLabel">Danh Sách Phiếu Nhập</h5>
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times me-1"></i> Đóng
                </button>
            </div>
            <div class="modal-body" id="importBatchesContent">
                <!-- Nội dung sẽ được tải từ PartialView -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        // Kích hoạt tooltip
        $(document).ready(function () {
            $('[data-bs-toggle="tooltip"]').tooltip();
        });

        // Hiển thị thông báo thành công
        @if (TempData["SuccessMessage"] != null)
        {
            <text>
                    Swal.fire({
                        title: 'Thành công!',
                    text: '@Html.Raw(TempData["SuccessMessage"])',
                    icon: 'success',
                    confirmButtonText: 'OK'
                            });
            </text>
        }

            // Hiển thị thông báo lỗi
        @if (TempData["ErrorMessage"] != null)
        {
            <text>
                    Swal.fire({
                        title: 'Lỗi!',
                    text: '@Html.Raw(TempData["ErrorMessage"])',
                    icon: 'error',
                    confirmButtonText: 'OK'
                            });
            </text>
        }
    </script>
    <script>
        function loadImportBatches(productId) {
            fetch(`/SanPham/GetImportBatchesByProductId?productId=${productId}`)
                .then(response => {
                    if (!response.ok) throw new Error('Failed to fetch PartialView');
                    return response.text(); // Lấy HTML từ PartialView
                })
                .then(html => {
                    document.getElementById('importBatchesContent').innerHTML = html;
                    const modal = new bootstrap.Modal(document.getElementById('importBatchesModal'));
                    modal.show();
                })
                .catch(error => {
                    console.error('Lỗi khi tải dữ liệu lô nhập:', error);
                    alert('Không thể tải dữ liệu lô nhập!');
                });
        }
    </script>

}
