<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>DLK Warehouse</title>

	<link rel="shortcut icon" type="image/x-icon" href="~/assets2/img/logo_1.png">
	<link rel="stylesheet" href="~/assets2/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/assets2/plugins/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="~/assets2/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="~/assets2/plugins/datatables/datatables.min.css">
	<link rel="stylesheet" href="~/assets2/css/feathericon.min.css">
	<link rel="stylesheet" href="~/assets2/plugins/morris/morris.css">
	<link rel="stylesheet" type="text/css" href="~/assets2/css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="~/assets2/css/style.css">

</head>

<body>
	<div class="main-wrapper">
		<div class="header">
			<div class="header-left">
				<a asp-area="" asp-controller="NguoiDung" asp-action="Index" class="logo"> <img src="~/assets2/img/logo.png" width="50" height="70" alt="logo"> <span class="logoclass"></span> </a>
				<a asp-area="" asp-controller="NguoiDung" asp-action="Index" class="logo logo-small"> <img src="~/assets2/img/logo.png" alt="Logo" width="30" height="30"> </a>
			</div>
			<a href="javascript:void(0);" id="toggle_btn"> <i class="fe fe-text-align-left"></i> </a>
			<a class="mobile_btn" id="mobile_btn"> <i class="fas fa-bars"></i> </a>

			<ul class="nav user-menu">
				<li class="nav-item dropdown has-arrow">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <span class="user-img"><img class="rounded-circle" src="@ViewBag.HinhAnh" width="31" alt="@ViewBag.Username"></span> </a>
					<div class="dropdown-menu">
						<div class="user-header">
							<div class="avatar avatar-sm"> <img src="@ViewBag.HinhAnh" alt="User Image" class="avatar-img rounded-circle"> </div>
							<div class="user-text">
								<h6>@ViewBag.Username</h6>
								<p class="text-muted mb-0">
									@(ViewBag.Role == "1" ? "Quản lý" : "Nhân viên")
								</p>
							</div>
						</div>
						<form asp-controller="NguoiDung" asp-action="Logout" method="post" style="display: inline;">
							<button type="submit" class="btn btn-link text-danger"><i class="fas fa-sign-out-alt"></i> Đăng xuất</button>
						</form>
					</div>
				</li>
			</ul>
		</div>
		<div class="sidebar" id="sidebar">
			<div class="sidebar-inner slimscroll">
				<div id="sidebar-menu" class="sidebar-menu">
					<ul>
						<li>
							<a asp-area="" asp-controller="NguoiDung" asp-action="Index">
								<i class="fas fa-tachometer-alt"></i> <span>Trang chủ</span>
							</a>
						</li>
						<li class="list-divider"></li>
						<li class="menu-title mt-3"> <span>DANH MỤC</span> </li>
						<li class="submenu">
							<a href="#">
								<i class="fas fa-barcode"></i>
								<span> Sản phẩm </span> <span class="menu-arrow"></span>
							</a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-area="" asp-controller="SanPham" asp-action="Index"> Sản phẩm </a></li>
								<li><a asp-area="" asp-controller="LoaiSanPham" asp-action="Index"> Loại sản phẩm </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#">
								<i class="fas fa-info"></i>
								<span> Thông tin </span> <span class="menu-arrow"></span>
							</a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-area="" asp-controller="ViTri" asp-action="Index"> Vị trí trong kho </a></li>
								<li><a asp-area="" asp-controller="HangSanXuat" asp-action="Index"> Hãng Sản xuất</a></li>
								<li><a asp-area="" asp-controller="LoaiKhachHang" asp-action="Index"> Loại khách hàng </a></li>
								<li><a asp-area="" asp-controller="LoaiSanPham" asp-action="Index"> Loại sản phẩm </a></li>
								<li><a asp-area="" asp-controller="Blog" asp-action="Index"> Blog </a></li>
								<li><a asp-area="" asp-controller="Menu" asp-action="Index"> Menu </a></li>
							</ul>
						</li>

						<!-- Submenu Tài khoản (ẩn nếu ViewBag.Role != 1) -->
						@if (ViewBag.Role == "1")
						{
							<li class="submenu">
								<a href="#">
									<i class="fas fa-user"></i> <span> Tài khoản </span> <span class="menu-arrow"></span>
								</a>
								<ul class="submenu_class" style="display: none;">
									<li><a asp-area="" asp-controller="NguoiDung" asp-action="Index2"> Tài khoản </a></li>
									<li><a asp-area="" asp-controller="KhachHang" asp-action="Index"> Khách hàng </a></li>
									<li><a asp-area="" asp-controller="NhanVienKho" asp-action="Index"> Nhân viên kho </a></li>
									<li><a asp-area="" asp-controller="NhaCungCap" asp-action="Index"> Nhà cung cấp </a></li>
								</ul>
							</li>
						}

						<li class="list-divider"></li>
						<li class="menu-title mt-3">
							<span>QUẢN LÝ</span>
						</li>
						<li class="submenu">
							<a href="#">
								<i class="fas fa-warehouse"></i>
								<span> Quản lý nhập - xuất </span> <span class="menu-arrow"></span>
							</a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-area="" asp-controller="PhieuNhapHang" asp-action="Index"> Phiếu nhập kho </a></li>
								<li><a asp-area="" asp-controller="PhieuXuatHang" asp-action="Index"> Phiếu xuất kho </a></li>
							</ul>
						</li>

						<!-- Submenu Quản lý kiểm kê (ẩn nếu ViewBag.Role != 1) -->
						@if (ViewBag.Role == "1")
						{
							<li class="submenu">
								<a href="#">
									<i class="fas fa-check-square"></i>
									<span> Quản lý kiểm kê </span> <span class="menu-arrow"></span>
								</a>
								<ul class="submenu_class" style="display: none;">
									<li><a asp-area="" asp-controller="KiemKe" asp-action="Index"> Phiếu Kiểm kê </a></li>
								</ul>
							</li>
						}
					</ul>
				</div>
			</div>
		</div>


		@* <!-- Chatbot -->
		<div id="chatbot-container">
		</button> *@
		<div class="page-wrapper" style="margin-top:60px">
			@RenderBody()
		</div>
	</div>
	

	<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="~/assets2/js/jquery-3.5.1.min.js"></script>
	<script src="~/assets2/js/popper.min.js"></script>
	<script src="~/assets2/js/bootstrap.min.js"></script>
	<script src="~/assets2/js/moment.min.js"></script>
	<script src="~/assets2/js/select2.min.js"></script>
	<script src="~/assets2/js/bootstrap-datetimepicker.min.js"></script>
	<script src="~/assets2/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="~/assets2/plugins/datatables/datatables.min.js"></script>
	<script src="~/assets2/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="~/assets2/plugins/raphael/raphael.min.js"></script>
	<script src="~/assets2/js/script.js"></script>
	<script>
		$(function () {
			$('#datetimepicker3').datetimepicker({
				format: 'LT'

			});
		});
	</script>
	<script>
		// Sidebar toggle logic
		$("#toggle_btn").on("click", function () {
			$(".sidebar").toggleClass("active");
		});
	</script>
	<script>

	</script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
