@model Ql_KhoHang.Dtos.NguoiDungDto

@{
    ViewData["Title"] = "Chi Tiết Người Dùng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


            <h2>Chi Tiết Người Dùng</h2>
            <div class="card">
                <div class="card-body">
                    <div class="text-center mb-4">
                        @if (!string.IsNullOrEmpty(Model.Anh))
                        {
                            <img src="@Model.Anh" alt="Ảnh người dùng" class="img-thumbnail" style="width: 150px; height: 150px;" />
                        }
                        else
                        {
                            <img src="/images/default-user.png" alt="Mặc định" class="img-thumbnail" style="width: 150px; height: 150px;" />
                        }
                    </div>
                    <dl class="row">
                        <dt class="col-sm-3">Mã Người Dùng:</dt>
                        <dd class="col-sm-9">@Model.MaNguoiDung</dd>

                        <dt class="col-sm-3">Tên Đăng Nhập:</dt>
                        <dd class="col-sm-9">@Model.TenDangNhap </dd>

                        <dt class="col-sm-3">Tên Người Dùng:</dt>
                        <dd class="col-sm-9">@Model.TenNguoiDung </dd>

                        <dt class="col-sm-3">Email:</dt>
                        <dd class="col-sm-9">@Model.Email </dd>

                        <dt class="col-sm-3">Số Điện Thoại:</dt>
                        <dd class="col-sm-9">@Model.Sdt </dd>

                        <dt class="col-sm-3">Ngày Đăng Ký:</dt>
                        <dd class="col-sm-9">@Model.NgayDk?.ToString("dd/MM/yyyy") </dd>

                        <dt class="col-sm-3">Quyền:</dt>
                        <dd class="col-sm-9">
                            @switch (Model.Quyen)
                            {
                                case 1:
                                    @("Quản trị viên")
                                    ; break;
                                case 2:
                                    @("Người dùng thường")
                                    ; break;
                                default:
                                    @("Không xác định")
                                    ; break;
                            }
                        </dd>
                    </dl>
                </div>
            </div>
            <a asp-action="Index2" class="btn btn-secondary">Quay lại</a>
