@model Ql_KhoHang.Dtos.SanPhamWebDtos

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="main-wrapper">
    <div class="page-wrapper">
        <div class="content container-fluid px-3 my-3">
            <div class="row">
                <h2>Thêm mới sản phẩm</h2>

                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="TenSanPham">Tên sản phẩm</label>
                        <input type="text" class="form-control" id="TenSanPham" name="TenSanPham" value="@Model.TenSanPham" required />
                    </div>

                    <div class="form-group">
                        <label for="Mota">Mô tả</label>
                        <textarea class="form-control" id="Mota" name="Mota">@Model.Mota</textarea>
                    </div>

                    <div class="form-group">
                        <label for="SoLuong">Số lượng</label>
                        <input type="number" class="form-control" id="SoLuong" name="SoLuong" value="@Model.SoLuong" />
                    </div>

                    <div class="form-group">
                        <label for="DonGia">Đơn giá</label>
                        <input type="text" class="form-control" id="DonGia" name="DonGia" value="@Model.DonGia" />
                    </div>

                    <div class="form-group">
                        <label for="XuatXu">Xuất xứ</label>
                        <input type="text" class="form-control" id="XuatXu" name="XuatXu" value="@Model.XuatXu" />
                    </div>

                    <div class="form-group">
                        <label for="Img">Hình ảnh</label>
                        <input type="file" class="form-control" id="Img" name="Img" />
                    </div>

                    <button type="submit" class="btn btn-primary mt-3">Thêm mới</button>
                    <a asp-action="Index" class="btn btn-secondary mt-3">Hủy</a>
                </form>
            </div>
        </div>
    </div>
</div>
